body {
    background: white !important;
    color: #1a1a1a !important;
}

p {
    margin-bottom: 2rem !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    margin-top: 3rem !important;
}

.s-header {
    background-color: black !important;
}

.s-docs.target-section {
    padding-bottom: 6rem;
}

.s-docs .docs-content__main {
    padding-top: 10rem;
}

.inline-text {
    display: inline-block;
}